name: "Lint PR"

on:
  pull_request_target:
    types:
      - opened
      - reopened
      - edited
      # - synchronize (if you use required Actions)

jobs:
  main:
    name: Validate PR title
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    with:
      scopes: |
        FE-\d+
      # If the PR only contains a single commit, the action will validate that
      # it matches the configured pattern.
      validateSingleCommit: true
      # Related to `validateSingleCommit` you can opt-in to validate that the PR
      # title matches a single commit to avoid confusion.
      validateSingleCommitMatchesPrTitle: true
